<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/main.css" />
    <style>
      .container {
        margin: 20px;
      }

      h1 {
        color: #007bff;
        margin-bottom: 20px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      th,
      td {
        border: 1px solid #ddd;
        padding: 15px;
        text-align: left;
      }

      th {
        background-color: #007bff;
        color: #fff;
      }

      td {
        background-color: #fff;
      }

      .buttons {
        display: flex;
        gap: 10px;
      }

      button {
        padding: 8px;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        transition: background-color 0.3s ease-in-out;
      }

      button.edit {
        background-color: #28a745;
        color: #fff;
      }

      button.delete {
        background-color: #dc3545;
        color: #fff;
      }

      .add-room-btn {
        background-color: #007bff;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
      }

      .add-room-btn:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Dashboard</h1>

      <% if (rooms.length > 0) { %>
      <table>
        <thead>
          <tr>
            <th>Hotel Name</th>
            <th>Room Number</th>
            <th>Price per Night</th>
            <th>Bed Type</th>
            <th>Max Occupancy</th>
            <th>Availability</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% rooms.forEach(room => { %>
          <tr>
            <td><%= room.hotelName %></td>
            <td><%= room.roomNumber %></td>
            <td><%= room.pricePerNight %></td>
            <td><%= room.bedType %></td>
            <td><%= room.maxOccupancy %></td>
            <td><%= room.availability ? 'Available' : 'Not Available' %></td>
            <td class="buttons">
              <button class="edit" onclick="editRoom('<%= room._id %>')">
                Edit
              </button>
              <button class="delete" onclick="deleteRoom('<%= room._id %>')">
                Delete
              </button>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } else { %>
      <p>No rooms available.</p>
      <% } %>
      <a href="/addroom" class="add-room-btn">Add Room</a>
    </div>
    <script src="/js/room.js"></script>
  </body>
</html>
